/.venv
/.vscode
__pycache__/
*.code-workspace
/data
/venv
/LaTeX-LIB
media/
co/
/optimization-methods
/.build/
build/
backup/
*.vsidx
*.sln
*.db*
*.ipch
*.exe
~AutoRecover*
/cppCode/DIPLIM_console/DIPLIM_console/x64/
cppCode/DIPLIM_console/.vs/DIPLIM_console/v17/Browse.VC.opendb
cppCode/DIPLIM_console/.vs/DIPLIM_console/v17/.suo
