*.pyc
/__pycache__/

create_temp.cpython-310*

*.pyo
*.pyd
*.pyd/
*.so
*.so/
*.dylib
*.dylib/
*.dll
*.dll/
*.exe
*.exe/
*.pdb
*.pdb/
*.ilk
*.ilk/
*.manifest
*.manifest/
*.exp
*.exp/
*.lib
*.lib/
*.obj
*.obj/
*.o
*.o/
*.a
*.a/
*.so
*.so/
*.dylib
*.dylib/
*.dll
*.dll/
*.exe
*.exe/
*.pdb
*.pdb/
*.ilk
*.ilk/
*.lnk/
.vscode